:root {
  --main-color: #557c55;
  --sub-color1: #a6cf98;
  --sub-color2: #76453b;
  --p-color: #f2ffe9;

  --h1-font: 3rem;
  --h2-font: 1rem;
  --p-font: 1rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

/*Header section*/
header {
  top: 0;
  right: 0;
  z-index: 100;
  padding: 10px;
  display: flex;
  align-items: center;
  transition: all 0.5s ease;
}

.logo {
  font-family: "Protest Strike", sans-serif;
  font-size: 40px;
  color: var(--main-color);
  font-weight: 500;
  padding-left: 50px;
}
span {
  font-family: "Pacifico", cursive;
  font-size: 20px;
  font-weight: 300;
}
.navbar {
  display: flex;
  padding-left: 25%;
}
.navbar a {
  font-family: sans-serif;
  color: var(--main-color);
  margin: 60px 15px;
  transition: all 0.5s ease;
  font-weight: 700;
}
.navbar a:hover {
  color: var(--sub-color2);
  padding: 10px;
  background-color: #a6cf98;
  border: none;
  border-radius: 8px;
}
.h-right {
  padding-left: 50px;
  display: flex;
  align-items: center;
  justify-content: right;
}
.h-right a:first-child {
  font-family: sans-serif;
  font-weight: 700;
  margin-right: 22px;
  padding: 10px;
  background: var(--main-color);
  border: none;
  border-radius: 8px;
  color: #fff;
}
.h-right a:first-child:hover {
  transform: scale(1.1) translateX(4px);
  transition: 0.4s;
}
#menu-icon {
  color: #557c55;
  cursor: pointer;
  font-size: 33px;
  display: none;
}
section {
  padding: 70px 17% 60px;
}
.home {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url(../images/image\ 3.jpg);
  background-size: cover;
  background-position: bottom center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.home-text {
  padding-bottom: 30px;
  border-bottom: #fff solid 1px;
}
.home-text h5 {
  font-family: "Pacifico", cursive;
  font-size: 40px;
  font-weight: 100;
  padding-bottom: 0;
  line-height: 25px;
  color: #fff;
}
.home-text h1 {
  font-size: 150px;
  padding-left: 90px;
  padding-top: 0;
  color: #fff;
  -webkit-text-stroke: 0.5px black;
}
.social-media {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.social-media a {
  font-size: 25px;
  padding: 30px;
  color: #fff;
}
.social-media a:hover {
  color: var(--sub-color1);
  transform: scale(1.2);
  transition: 0.3s;
}

.search-container {
  margin-top: 40px;
  text-align: center;
}

.search-box {
  padding: 7px;
  font-size: 16px;
  margin-right: 5px;
  width: 250px;
  box-sizing: border-box;
  opacity: 50%;
}

.search-button {
  padding: 7px 20px;
  font-size: 16px;
  border: 1px solid var(--sub-color1);
  border-radius: 5px;
  background-color: var(--sub-color1);
  color: #fff;
  cursor: pointer;
}
.search-button:hover {
  transform: scale(1.1) translateX(10px);
  transition: 0.4s;
}

/*About us*/
.about-us {
  padding: 5% 2%;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 1.5rem;
  /* align-items: center; */
  background: var(--sub-color1);
}
.about-us-text h1 {
  font-size: var(--h1-font);
  font-family: serif;
  border-left: 4px solid var(--main-color);
  border-radius: 3px;
  padding-left: 10px;
}
.about-us-text p {
  font-size: var(--p-font);
  font-family: sans-serif;
  font-weight: 500;
  margin: 20px;
  text-align: justify;
}
.about-us-images {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 0.5rem;
  align-items: center;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
.about-us-images img {
  max-width: 100%;
  max-height: 100vh;
}
.btn {
  padding: 7px;
  font-size: var(--p-font);
  width: fit-content;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
  margin: 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
.btn:hover {
  transform: scale(1.1) translateX(10px);
  transition: 0.4s;
}
.tour {
  padding: 5% 2%;
  background: var(--sub-color1);
}
.tour-cards {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-gap: 0.5rem;
  align-items: center;
  border-radius: 15px;
  text-align: center;
}
.card {
  background: var(--main-color);
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
.card h3 {
  padding: 5px 0;
  color: #fff;
}
.tour-cards img {
  max-width: 100%;
  max-height: 100vh;
  border-radius: 15px;
}
.tour-cards img:hover {
  transform: scale(0.95);
  transition: 0.4s;
}
.tour-text h1 {
  font-size: var(--h1-font);
  font-family: serif;
  border-left: 4px solid var(--main-color);
  border-radius: 3px;
  padding-left: 10px;
}

/*contact us section*/
.contact {
  background: var(--main-color);
}
.footer {
  padding: 10px 0;
  width: 80%;
  border-radius: 10px;
  margin: 0 5%;
}

.contact-us h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: var(--bg-color);
}

.main {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  padding: 10px;
}

.col {
  width: 25%;
}

.col h4 {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-bottom: 25px;
  position: relative;
}

.col h4::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 50px;
  left: 0;
  bottom: -8px;
  background: var(--main-color);
}

.col ul li:not(last-child) {
  margin-bottom: 15px;
}

.col ul li a {
  color: #ffffff;
  font-size: 1.1rem;
  display: block;
  text-transform: capitalize;
  transition: 0.4s;
}

.col ul li a:hover {
  color: var(--text-color);
  transform: translateX(-12px);
}

.col .social-media {
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col .social-media a {
  width: 20px;
  height: 20px;
  background: var(--sub-color1);
  color: var(--text-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 50%;
  transition: 0.4s;
  padding: 20px;
}

.col .social-media a:hover {
  transform: scale(1.2);
  color: var(--bg-color);
  background: var(--text-color);
}

@media (max-width: 1200px) {
  selection {
    padding: 50px 8%;
  }
  #menu-icon {
    display: initial;
    color: #000;
  }
  header .navbar {
    position: absolute;
    top: -500px;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #fff;
    transition: 0.3s;
  }
  header .navbar.active {
    top: 10px;
  }
  .home {
    padding-top: 180px;
  }
  .home-text {
    margin-top: 100px;
  }
  .navbar a {
    padding: 1.5rem;
    display: block;
  }
  .col {
    width: 50%;
    margin-bottom: 10px;
  }
}

@media (max-width: 720px) {
  header {
    padding: 10px 16px;
  }
  .home {
    padding-top: 180px;
    grid-template-columns: 1fr;
    text-align: center;
    max-height: fit-content;
  }
  .home-text {
    margin-top: 100px;
  }
  .about-us {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .about-us-images {
    order: 2;
  }
  section {
    padding: 100px 7%;
  }
}

@media (max-width: 575px) {
  .col {
    width: 100%;
  }
}
